---
import Wrapper from "../Wrapper"
import services from '../../data/services.json'
import SectionIntro from "../SectionIntro";
import Card from "@/components/Card";

const servicesArr = services.services;
---
<section id="servicos" class="relative animate-fadeInRight">
  <Wrapper>
    <div class="relative z-10">
      <SectionIntro color="text-white" title="Serviços Oferecidos" description="Ofereço uma variedade de serviços de fotografia personalizados. Estou aqui para capturar seus momentos especiais com qualidade e profissionalismo."/>
    </div>
    <div class="absolute inset-0 w-full h-full bg-no-repeat bg-cover bg-center bg-fixed bg-[url('/src/assets/images/aboutMe.jpg')] opacity-75 z-0"></div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-8 mx-auto relative z-10">
      {servicesArr.map(service => (
        <Card key={service.id} bgColor="bg-white" >
          <h3 class="font-black text-4xl text-center">{service.title}</h3>
          <p class="mt-4">{service.description}</p>
        </Card>
      ))}
    </div>
  </Wrapper>
</section>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add('animate-fadeInRight');
        } else {
          entry.target.classList.remove('animate-fadeInRight');
        }
      });
    });
    const targetElement = document.querySelector('#servicos');
    if (targetElement) {
      observer.observe(targetElement);
    }
  });
</script>