---
import { Image } from "astro:assets";
import Card from "../Card";
import check from "../../assets/images/check.svg"
import features from "../../data/features.json"

const featuresArr = features.data
---
<div class="flex justify-center items-center mt-8 lg:flex-nowrap flex-wrap">
{featuresArr.map(feature => (
    <Card key={feature.id}>
        <Image src={check} alt="check" class="m-auto h-[48px] w-[48px]"/>
        <h3 class="font-black text-4xl text-center">{feature.title}</h3>
        <p class="mt-4">{feature.description}</p>
    </Card>
))}
</div>