---
import Wrapper from "../Wrapper.astro";
import AboutFeatures from "./AboutFeatures.astro";
import AboutImage from "./AboutImage.astro";
import AboutText from "./AboutText.astro";
---

<section id="sobre-mim" class="bg-gradient-to-br from-yellow-200 to-indigo-400 py-4">
<Wrapper>
        <AboutText />
        <AboutImage />
        <AboutFeatures />
</Wrapper>
</section>