---
import Wrapper from "@components/Wrapper";
import AboutFeatures from "./AboutFeatures.astro";
import AboutImage from "./AboutImage.astro";
import AboutText from "./AboutText.astro";
---

<section id="sobre-mim" class="bg-slate-100 py-4">
<Wrapper>
        <AboutText />
        <AboutImage />
        <AboutFeatures />
</Wrapper>
</section>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const observer = new IntersectionObserver((entries) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add('animate-fadeInLeft');
        }
      });
    });

    const targetElement = document.querySelector('#sobre-mim');
    if (targetElement) {
      observer.observe(targetElement);
    }
  });
</script>