---
import { Image } from 'astro:assets';
import aboutMe from '../../assets/images/aboutMe.jpg';
---
<div class="border-2 border-slate-900 p-5 rounded-full">
    <Image src={aboutMe} width={300} alt="About Me" class="rounded-full" />
</div>
