---
import Button from "../Button.astro";


---

<div class="w-11/12 lg:w-5/12 flex justify-center items-center flex-col gap-4">
    <h1 class="text-3xl md:text-5xl font-black mb-5">Um pouco da minha história!</h1>
    <p>Meu nome é Adriana Oliveira, e sou de São Paulo. Trabalho como gerente de recursos humanos na empresa xyz, e sou fotógrafa fora da empresa, como freelancer. Atualmente, 
    estou me especializando em fotografia de eventos e ensaios fotográficos. A fotografia é uma paixão que tenho desde a adolescência, e que me acompanha até hoje.
    </p>
    <Button>
        <a href="#contato">Entre em contato!</a>
    </Button>
</div>