---
import { Image } from 'astro:assets';
import aboutMe from '../../assets/images/aboutMe.jpg';
---
<div class="border-4 border-gray-500 p-5 rounded-full">
    <Image src={aboutMe} width={300} alt="About Me" class="rounded-full" />
</div>
