---
import { Image } from 'astro:assets';
import aboutMe from '../../assets/images/aboutMe.jpg';
---
<div class="relative max-w-md mr-0 p-6 border-2 border-gray-500 rounded-full">
    <div class="absolute -top-2 -left-2">
        <svg class="w-8 h-12 text-black" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 0l2.39 4.83L18 5.54l-3.88 3.79L14.78 13 10 11.27 5.22 13l.66-3.67L2 5.54l5.61-.71L10 0z" />
        </svg>
    </div>
    <div class="absolute -bottom-2 -right-2">
        <svg class="w-8 h-8 text-black" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 0l2.39 4.83L18 5.54l-3.88 3.79L14.78 13 10 11.27 5.22 13l.66-3.67L2 5.54l5.61-.71L10 0z" />
        </svg>
    </div>
    <div class="border-4 border-transparent rounded-full overflow-hidden">
        <Image src={aboutMe} width={300} alt="About Me" class="rounded-full" />
    </div>
</div>
