---
import Button from "../Button.astro";


---

<div class="w-11/12 lg:w-5/12 flex justify-center items-center flex-col gap-4">
    <h1 class="text-3xl md:text-5xl font-black mb-5">Um pouco da minha história...</h1>
    <p class="mb-4">Olá! Sou Adriana Oliveira, uma profissional de Recursos Humanos que descobriu na fotografia uma paixão que, com o tempo, transformei em um negócio de sucesso. Minha jornada começou em 2017, quando a fotografia era apenas um hobbie, mas logo percebi que poderia capturar e eternizar os momentos mais especiais na vida das pessoas. Hoje, além de minha carreira corporativa em uma grande empresa do mercado financeiro, dedico-me a registrar emoções e criar memórias inesquecíveis. 
        Equilibrar essas duas paixões me trouxe realização pessoal e profissional, e estou aqui para compartilhar esse talento com você.

    </p>
    <Button>
        <a href="#contato">Entre em contato!</a>
    </Button>
</div>