---
import Layout from "../layouts/Layout.astro";
import ServiceExtendedWrapper from "../wrappers/ServiceExtended.tsx";
import ServiceFormWrapper from "../wrappers/ServiceForm.wrapper";
---

<Layout>
    <div class="max-w-7xl mx-auto">
        <ServiceExtendedWrapper serviceId={Astro.params.service} client:load />
        <ServiceFormWrapper
            formId={Astro.params.service || ""}
            serviceId={Astro.params.service || ""}
            client:load
        />
    </div>
</Layout>
