---
import SectionIntro from "../SectionIntro";
import Form from "./Form.astro";
---
<section id="contato" class="flex flex-wrap w-full p-8 justify-center items-center mx-auto">
    <SectionIntro title="Entre em contato" description="Estou ansiosa para ouvir de você! Se você tem alguma pergunta ou gostaria de agendar uma sessão de fotos, por favor, preencha o formulário abaixo e entrarei em contato o mais rápido possível." />
        <Form />
</section>
