---
const currentYear = new Date().getFullYear()
---
<footer class="relative w-full">
  <div class="w-full px-8 mx-auto max-w-7xl">
    <div class="grid w-full grid-cols-1 gap-8 py-12 mx-auto md:grid-cols-2 lg:grid-cols-3">
      <div class="w-full">
        <p
          class="block mb-4 font-sans text-sm antialiased font-bold leading-normal uppercase opacity-50 text-blue-gray-900">
          Sobre a Adriana
        </p>
        <ul class="space-y-1">
          <li class="block font-sans text-base antialiased font-normal leading-relaxed text-blue-gray-900">
            <a href="#servicos" class="inline-block py-1 pr-2 transition-transform hover:scale-105">
              Serviços Oferecidos
            </a>
          </li>
          <li class="block font-sans text-base antialiased font-normal leading-relaxed text-blue-gray-900">
            <a href="#precos" class="inline-block py-1 pr-2 transition-transform hover:scale-105">
              Preços
            </a>
          </li>
          <li class="block font-sans text-base antialiased font-normal leading-relaxed text-blue-gray-900">
            <a href="#depoimentos" class="inline-block py-1 pr-2 transition-transform hover:scale-105">
              Avaliações
            </a>
          </li>
        </ul>
      </div>
      <div class="w-full">
        <p
          class="block mb-4 font-sans text-sm antialiased font-bold leading-normal uppercase opacity-50 text-blue-gray-900">
          Contato
        </p>
        <ul class="space-y-1">
          <li class="block font-sans text-base antialiased font-normal leading-relaxed text-blue-gray-900">
            <a href="https://www.instagram.com/dricaoliveira_fotografia" class="inline-block py-1 pr-2 transition-transform hover:scale-105">
              Instagram
            </a>
          </li>
          <li class="block font-sans text-base antialiased font-normal leading-relaxed text-blue-gray-900">
            <a href="https://wa.me/5511969910622" class="inline-block py-1 pr-2 transition-transform hover:scale-105">
              WhatsApp
            </a>
          </li>
          <li class="block font-sans text-base antialiased font-normal leading-relaxed text-blue-gray-900">
            <a href="#contato" class="inline-block py-1 pr-2 transition-transform hover:scale-105">
              Propostas Comerciais
            </a>
          </li>
        </ul>
      </div>
      <div class="w-full">
        <p
          class="block mb-4 font-sans text-sm antialiased font-bold leading-normal uppercase opacity-50 text-blue-gray-900">
          Ensaios Oferecidos
        </p>
        <ul class="space-y-1">
          <li class="block font-sans text-base antialiased font-normal leading-relaxed text-blue-gray-900">
            <a href="#precos" class="inline-block py-1 pr-2 transition-transform hover:scale-105">
              10 fotos
            </a>
          </li>
          <li class="block font-sans text-base antialiased font-normal leading-relaxed text-blue-gray-900">
            <a href="#precos" class="inline-block py-1 pr-2 transition-transform hover:scale-105">
              20 fotos
            </a>
          </li>
          <li class="block font-sans text-base antialiased font-normal leading-relaxed text-blue-gray-900">
            <a href="#precos" class="inline-block py-1 pr-2 transition-transform hover:scale-105">
            30 fotos
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="flex flex-col items-center justify-center w-full py-4 border-t border-blue-gray-50 md:flex-row md:justify-between">
      <p
        class="block mb-4 font-sans text-sm antialiased font-normal leading-normal text-center text-blue-gray-900 md:mb-0">
        © {currentYear}
        <a>BooleanTech</a>. Todos os direitos reservados.
      </p>
      
  </div>
</footer>