---
import { Carousel, Photo } from 'astro-carousel';
import SectionIntro from "../SectionIntro";
import type { ComponentProps } from 'react';
import data from "../../data/gallery.json";
import Wrapper from "../Wrapper";

const images: ComponentProps<typeof Carousel>["images"] = data.slides
---
<section id="galeria" class="animate-fadeInUp">
  <Wrapper>
    <SectionIntro title="Galeria" description="Veja algumas das minhas fotos favoritas. Clique em uma imagem para ver em tamanho maior." />
      <Carousel images={images} />
      <ul
        class="grid grid-cols-1 md:grid-cols-3 justify-center items-center gap-[8px] m-0 p-4 list-none w-full"
        id="carouselTargetList"
      >
        {
          images.map((img, i) => {
            return (
              <li class="hover:cursor-pointer animate-fadeInUp" key={i}>
               
                <a
                  href={`./?image=${i}`}
                  data-carousel-index={i}
                  class="block"
                >
                  <Photo {...img} />
                </a>
              </li>
            );
          })
        }
      </ul>
  </Wrapper>
</section>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add('animate-fadeInUp');
        } else {
          entry.target.classList.remove('animate-fadeInUp');
        }
      });
    });

    const targetElement = document.querySelector('#galeria');
    if (targetElement) {
      observer.observe(targetElement);
    }

    return () => {
      if (targetElement) {
        observer.unobserve(targetElement);
      }
    };
  });