---
import AdInfo from "./AdInfo.astro";
---

<div class="p-4 mx-auto flex justify-center items-center my-12">
    <div class="flex space-x-4 p-8 rounded-3xl border-2 m-2 w-11/12 bg-transparent lg:h-[30vh]">
       <AdInfo/> 
    </div>
</div>