---
import SectionIntro from "../SectionIntro";
import Wrapper from "../Wrapper"
import Container from "./Container.astro";
import Testimonial from "./Testimonial.astro";
import testimonials from '../../data/testimonials.json'

const testimonialsData = testimonials.data;
---
<section id="depoimentos" class="bg-slate-50 animate-fadeInUp">
<Wrapper>
    <SectionIntro title="Depoimentos" description="Confira os depoimentos dos nossos clientes, onde eles elogiam a qualidade do nosso trabalho e o atendimento excepcional. Suas experiências refletem nosso compromisso em superar expectativas e entregar resultados incríveis."/>
    <Container>
        {testimonialsData.map(testimonial => (
            <Testimonial key={testimonial.id} description={testimonial.description} name={testimonial.title}/>
        ))}
    </Container>
</Wrapper>
</section>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const observer = new IntersectionObserver((entries) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add('animate-fadeInUp');
        } else {
          entry.target.classList.remove('animate-fadeInUp');
        }
      });
    });

    const targetElement = document.querySelector('#depoimentos');
    if (targetElement) {
      observer.observe(targetElement);
    }
  });
</script>