---
import Wrapper from "../Wrapper"
import BannerImage from "./BannerImage.astro";
import BannerText from "./BannerText.astro";

    
---
<section class="animate-fadeInUp" id="banner">
  <Wrapper>
    <BannerImage/>
    <BannerText/>
</Wrapper>
</section>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add('animate-fadeInUp');
        } else {
          entry.target.classList.remove('animate-fadeInUp');
        }
      });
    });

    const targetElement = document.querySelector('#banner');
    if (targetElement) {
      observer.observe(targetElement);
    }

    return () => {
      if (targetElement) {
        observer.unobserve(targetElement);
      }
    };
  });



