---
import Wrapper from "../Wrapper.astro";
import BannerImage from "./BannerImage.astro";
import BannerText from "./BannerText.astro";

    
---
<section class="animate-fadeInUp">
    <Wrapper>
    <BannerImage/>
    <BannerText/>
</Wrapper>
</section>

