---
import Button from '../Button.astro'
---
<div class="w-11/12 lg:w-1/2 flex justify-center items-center flex-col">
    <h1 class="text-3xl md:text-5xl font-bold mb-5">Mais do que imagens – criamos memórias que durarão para sempre.</h1>
    <p class="mb-8">Cada clique captura mais do que uma imagem – transforma momentos especiais em memórias eternas. Com técnica refinada e um olhar atento, criamos fotografias que evocam sentimentos e histórias, garantindo que cada instante importante seja lembrado com clareza e carinho.</p>
    <Button>
        <a href="#servicos">Conheça meu trabalho!</a>
    </Button>
</div>